@model IEnumerable<HisakaWeb.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    .crud-btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

        .crud-btn i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

    td, th {
        text-align: center;
    }
</style>

@{
    int count = 0;
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header border-transparent">
            <h3 class="card-title">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá tiền</th>
                            <th>Số lượng còn</th>
                            <th>Loại sản phẩm</th>
                            <th>Nhãn hiệu</th>
                            <th>Hình ảnh</th>
                            <th>Ngày thêm</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelItem => item.productID)</td>
                            <td>@Html.DisplayFor(modelItem => item.productName)</td>
                            @{
                                double price = (double)item.productPrice;
                            }
                            <td>@price.ToString("#,##0 VND")</td>
                            <td>@Html.DisplayFor(modelItem => item.productQuantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.productCategory)</td>
                            <td>@Html.DisplayFor(modelItem => item.productBrand)</td>
                            <td><img src="@Html.DisplayFor(modelItem => item.productImage)" width="200" /></td>
                            <td>@Html.DisplayFor(modelItem => item.createdAt)</td>

                            <td>
                                <a href="@Url.Action("Edit","Products", new { id=item.productID })" class="crud-btn btn-info">
                                    <i class="fa-solid fa-pen-to-square">
                                    </i>
                                </a>
                                <a href="@Url.Action("Delete","Products", new { id=item.productID })" class="crud-btn btn-danger">
                                    <i class="fa-solid fa-x">
                                    </i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <a href="@Url.Action("Create", "Products")" class="btn btn-sm btn-success float-left">Thêm sản phẩm mới</a>
        </div>
        <!-- /.card-footer -->
    </div>
</section>


