<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/lib/slick/slick-theme.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>

<body>
    @{
        string username = Session["Username"] as string;
        string customerID = Session["customerID"] as string;
        string newcustomerID = Session["AccountCustomerID"] as string;
    }

    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/Content/img/LogoHisaka.png" alt="LogoHisaka" />
                        </a>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-3">
                    <div class="user">
                        @if (username.IsEmpty())
                        {
                            <a href="@Url.Action("Login", "Home")" class="btn wishlist">Login</a>
                            <a href="@Url.Action("Register", "Home")" class="btn wishlist">Register</a>
                            <a href="@Url.Action("Index","Cart")" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Giỏ hàng</span>
                            </a>
                        }

                        @if (!username.IsEmpty())
                        {
                            <a href="@Url.Action("Index","Cart")" class="btn wishlist">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Giỏ hàng</span>
                            </a>
                            if (customerID.IsEmpty() && newcustomerID.IsEmpty())
                            {
                                <a href="@Url.Action("Index", "UserInformation", new { username = username})" class="btn wishlist">User Information</a>
                            }
                            else
                            {
                                if (customerID.IsEmpty())
                                {
                                    <a href="@Url.Action("ShowInfo", "UserInformation", new { id = newcustomerID})" class="btn wishlist">User Information</a>

                                }
                                else if (newcustomerID.IsEmpty())
                                {
                                    <a href="@Url.Action("ShowInfo", "UserInformation", new { id = customerID})" class="btn wishlist">User Information</a>

                                }
                            }
                            <a href="@Url.Action("Logout", "Home")" class="btn cart">Log Out</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Bar End -->

    @RenderBody()

    <!-- Footer Start -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Get in Touch</h2>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
                            <p><i class="fa fa-envelope"></i>email@example.com</p>
                            <p><i class="fa fa-phone"></i>+123-456-7890</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Follow Us</h2>
                        <div class="contact-info">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Company Info</h2>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Purchase Info</h2>
                        <ul>
                            <li><a href="#">Payment Policy</a></li>
                            <li><a href="#">Shipping Policy</a></li>
                            <li><a href="#">Return Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row payment align-items-center">
                <div class="col-md-6">
                    <div class="payment-method">
                        <h2>We Accept:</h2>
                        <img src="~/Content/img/payment-method.png" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment-security">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
    <script>
        $(document).ready(function () {
            // Bắt sự kiện khi nút tìm kiếm được nhấn
            $('#btnSearch').click(function () {
                // Lấy giá trị nhập vào từ ô tìm kiếm
                var searchData = $('#searchBox').val();
                if (searchData.trim() !== '') {

                }
            });
        });
    </script>

</body>
</html>
