@model HisakaWeb.Models.LoginInfo

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Login</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Start -->
<div class="login" style="padding: 50px 0">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form action="/Home/Login" method="post" class="login-form" style="padding: 65px; padding-top: 40px;">
                    @Html.AntiForgeryToken()
                    <h1 style="text-align:center;" >Đăng nhập</h1>

                    <div class="column">
                        <div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Username, "Tên đăng nhập")
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Password, "Mật khẩu")
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <button class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- Login End -->
